@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;600&display=swap');
@font-face {
  font-family: 'jgs';
  src: url('https://cdn.glitch.global/73328f88-61cf-4354-9bf0-e9f5ac194e9f/jgs7.woff');
}
@font-face {
  font-family: 'mil-re';
  src: url('https://cdn.glitch.global/73328f88-61cf-4354-9bf0-e9f5ac194e9f/Millimetre-Regular_web.woff');
}
@font-face {
  font-family: 'mil-li';
  src: url('https://cdn.glitch.global/73328f88-61cf-4354-9bf0-e9f5ac194e9f/Millimetre-Light.otf?v=1694269724122');
}

body,
html {
  margin: 2px;
  /*
  
  background-color: black;*/
}

body {
  margin: revert !important;
}

* {
  font-family: 'jgs', sans-serif;
}

.white-back {
  background-color: black;
}

.white-text {
  color:white;
}

h1 {
  font-style: italic;
  color: #ff0066;
}

button {
  display: inline-block;
  font-size: 16px;
  padding: 10px;
  margin: 10px;
}
/*section {
  height:100vh;
}*/

section {
  display: grid;
  align-content: center;
}

#myCanvas {
  width: 95%;
  height: 95vh;
  z-index: 0;
  display: grid;
  align-self: auto;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.title-font {
  font-family: 'mil-re', sans-serif;
}

.title-font-li {
  font-family: 'mil-li', sans-serif;
}

mainTitle {
  /*font-size: 10vw;*/
  color: white !important;
}

#projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 1em;
}

.grid-base {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1em;
}

card {
  width: 100%;
  display: grid;
}

.cuadrado {
  width: 100px;
  height: 100px;
}

card > img {
  height: 100%;
}

