---

import data from "../content/data.json"
import BaseLayout from '../layouts/BaseLayout.astro'
import Navbar from '../components/Navbar.astro'
import Footer from '../components/Footer.astro'
import "../styles/global.css" 

var projects = data.projects;

---
<BaseLayout title=" Portfolio - smosgasbord" bg="bg-accent">
<!--section><canvas id="myCanvas" class="rounded-lg"></canvas></section-->
<Navbar/> 
<section class="rounded-md min-h-screen m-2 lg:m-5">
<div class="title-font text-center text-5xl lg:text-7xl text-neutral">Portfolio</div>
{projects.map((project) => 
<a href={`/projects/${project.id}`}><figure class="m-3 bg-base-200  rounded-lg p-3 group ">
<ficaption class="title-font  uppercase text-neutral text-4xl lg:text-7xl group  lg:hover:text-secondary ease-in-out duration-300 delay-300">{project.tituloProyecto} <small class="m-1">{project.year}</small><div class="grid grid-flow-col"><img loading="lazy"  class="lg:hidden lg:group-hover:flex lg:group-hover:absolute lg:group-hover:right-0 lg:group-hover:-translate-y-20 lg:group-hover:w-3/12 lg:group-hover:m-5 w-full rounded-lg h-2/12 ease-in-out delay-500 duration-500" src={project.imgcover} > </div>
</figcaption></figure></a>
)}
</section>
<BaseLayout/>
<Footer/>

