<div class="navbar rounded text-white -translate-y-3 z-0  ">
  <div class="navbar-start z-10">
  <a href="/" class="title-font hidden lg:flex bg-neutral  rounded-box p-3">smosgasbord</a>
    <div class="dropdown  bg-neutral rounded-lg">
      <label tabindex="0" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
      </label>
      <ul tabindex="0" class="menu menu-sm dropdown-content mt-3  p-2 shadow bg-neutral rounded-box w-52">
        <li><a href="/about/">About Me</a></li>
        <li>
          <a href="/projects/">Projects</a>
          <!--ul class="m-3 shadow bg-base-100 rounded">
            <li><a>Web Dev </a></li>
            <li><a>Extended Realities [XR]</a></li>
          </ul-->
        </li>
        <li><a onclick="openNav()">Contact</a></li>
      </ul>
    </div>
    <a class=""></a>
  </div>
   <a href="/" class="title-font navbar-center bg-neutral rounded-box p-3 lg:hidden">smosgasbord</a>
  <div class="navbar-center hidden lg:flex z-10 bg-neutral rounded-box">
 
    <ul class="menu menu-horizontal px-1 " >
      <li><a href="/about/">About Me</a></li>
      <!--li tabindex="0">
        <details>
          <summary>Projects</summary>
          <ul class="p-2">
            <li><a>Web Dev </a></li>
            <li><a>Extended Realities [XR]</a></li>
          </ul>
        </details>
      </li-->
      
       <li><a href="/projects/">Projects</a></li>
      <li ><a onclick="openNav()">Contact</a></li>
    </ul>
  </div>
  <div class="navbar-end">
    <a class="btn z-10 float-right" onclick="openNav()" >Hire Me</a>
  </div>
</div>
<div id="contactForm" class="hidden w-full lg:w-4/12 fixed h-screen z-20 top-0 right-0 bg-base-200 overflow-x-hidden ease-in-out duration-1000 pt-5
 backdrop-blur-sm">
  <a  class="btn btn-outline absolute top-0 right-3 text-lg m-5 rounded-box" onclick="closeNav()">&times;</a>
<section class=" m-10">
  <h2 id="contact" class="text-2xl title-font text-center m-5">Hey! Tell me about your vision</h2>
    <form action="https://airform.io/saenz.ran@protonmail.com" method="post" class="text-2xl">
     <div class="m-3"><h3>Your Name</h3>
    <input type="text" name="name" placeholder="Name" class="m-2 w-full input input-bordered w-full max-w-xs" /></div>
     <div class="m-3"><h3>Your Email</h3>
    <input type="text" name="email" placeholder="Email" class="m-2 w-full input input-bordered w-full max-w-xs" /></div>
   <div class="m-3"><h3>Your idea, dream, vision, proposal</h3>
    <textarea class="m-2 w-full textarea rounded-lg" name="message" placeholder="Something about your project"></textarea></div> 

  <button class="btn btn-active w-11/12">Submit</button>
</form>
 <span class="text-neutral m-5">My Email: <a href="mailto:smosgasbord@skiff.com">smosgasbord@skiff.com</a></span>
  </section> 
 
</div>
<script is:inline>
function openNav() {

   document.getElementById("contactForm").classList.remove("hidden");
}

function closeNav() {
   document.getElementById("contactForm").classList.add("hidden");
}
</script>