---
import "../global.css"
import { ViewTransitions } from 'astro:transitions';
const {title,bg} = Astro.props;

---

<html lang="en" class={bg} data-theme="acid">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="https://cdn.glitch.global/73328f88-61cf-4354-9bf0-e9f5ac194e9f/ico.png?v=1694048980703">
    <meta property="og:locale" content="en_US" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="https://cdn.glitch.global/73328f88-61cf-4354-9bf0-e9f5ac194e9f/ico.png?v=1694048980703" />
    <title>{title}</title>
    <!--ViewTransitions /-->
  </head>
  <body  >
  
    <slot />
  
  </body>
 <script async data-id="101479069" src="//static.getclicky.com/js"></script>

</html>
