---
import data from "../content/data.json"
import "../styles/locomotive.css";

var services = data.services;

---
<div class="rounded-md hero min-h-screen z-10 ">

  <div class="hero-content m-6 lg:m-10 ">
  <mainTitle class="title-font text-5xl lg:text-7xl" data-scroll data-scroll-speed="-0.2">Let's transform your visions into digital reality</mainTitle>
  </div>
</div>
<div id="categories" class="m-10 -translate-y-10 text-white text-4xl"></div>
<section id="services" class="m-5 bg-base-200 p-7 rounded-box pb-7">
<div class="uppercase text-3xl lg:text-5xl   text-right title-font">Services</div>
<!--ul class="ml-5">
{services.map((service) => 
<li class="list-disc	uppercase hover:text-primary-focus text-3xl lg:text-5xl ">{service.tituloServicio}</li>
)}
</ul-->


{services.map((service) => 
<div tabindex="0" class="collapse collapse-arrow bg-base-200 text-neutral rounded-box focus:bg-secondary focus:text-secondary-content  ">
  <div class="collapse-title list-disc	uppercase  text-3xl lg:text-5xl">
   {service.tituloServicio}
  </div>
  <div class="collapse-content  text-xl"> 
    <p>{service.description}</p>
  </div>
</div>

)}


</section>


<script is:inline src="https://unpkg.com/typeit@8.7.1/dist/index.umd.js"></script>
<script is:inline src="https://cdn.jsdelivr.net/npm/locomotive-scroll@beta/bundled/locomotive-scroll.min.js"></script>

<script is:inline>
  document.addEventListener("DOMContentLoaded", function () {
    new TypeIt("#categories", {
      strings: ["Hi, I'm Randall Sáenz an experienced consultant", "on automation and web development using FOSS technologies. I craft custom experiences and services", "for socially and environmentaly responsible enterprises and organizations."],speed:20
    }).go();
  });
</script>
<script client:only>
/*init locomotive*/
(function () {
        const locomotiveScroll = new LocomotiveScroll();
    })();
  
</script>

