---
import "../styles/locomotive.css";


---
<div class="rounded-md hero min-h-screen z-10 ">

  <div class="hero-content m-6 lg:m-10 ">
  <mainTitle class="title-font text-5xl lg:text-7xl" data-scroll data-scroll-speed="-0.2">Let's transform your visions into digital reality</mainTitle>
    <!--div class="max-w-md backdrop-blur-sm bg-white/10 rounded-md shadow">
      
      <p class="py-6 text-white">Multidisciplinary Artist and Web Developer working on Immersive, Creative code and XR Experiences for Public Institutions, Social Organizations & Art Collectives</p>
      
    </div-->
  </div>
</div>
<div id="categories" class="m-10 -translate-y-10 text-white text-4xl"></div>
<section class="m-5 bg-base-200 p-7 rounded-box pb-7">
<div class="uppercase text-3xl lg:text-5xl   text-right">Services</div>
<ul class="ml-5 text-primary">
<li class="list-disc	uppercase hover:text-primary-focus text-3xl lg:text-5xl  " data-scroll data-scroll-speed="-0.01"  data-scroll-direction="vertical"  data-scroll-delay="0.06" onclick="openNav()">Web Development</li>
<li class="list-disc	uppercase  hover:text-primary-focus text-3xl lg:text-5xl " data-scroll data-scroll-speed="-0.01" data-scroll-direction="horizontal" onclick="openNav()">Interactive Data Visualization</li>
<li class="list-disc	uppercase hover:text-primary-focus text-3xl lg:text-5xl  " data-scroll data-scroll-speed="-0.01" data-scroll-direction="horizontal" onclick="openNav()">Hosting Migration</li>
<li class="list-disc	uppercase hover:text-primary-focus text-3xl lg:text-5xl  "data-scroll data-scroll-speed="-0.01" data-scroll-direction="horizontal" onclick="openNav()">Website Administration </li>
<li class="list-disc	uppercase  hover:text-primary-focus text-3xl lg:text-5xl " data-scroll data-scroll-speed="-0.01" data-scroll-direction="horizontal" onclick="openNav()">SEO and Website Optimization</li>
<li class="list-disc	uppercase  hover:text-primary-focus text-3xl lg:text-5xl " data-scroll data-scroll-speed="-0.01" data-scroll-direction="horizontal" onclick="openNav()"> Organization Process Digitization</li>
</ul>
</section>


<script is:inline src="https://unpkg.com/typeit@8.7.1/dist/index.umd.js"></script>
<script is:inline src="https://cdn.jsdelivr.net/npm/locomotive-scroll@beta/bundled/locomotive-scroll.min.js"></script>

<script is:inline>
  document.addEventListener("DOMContentLoaded", function () {
    new TypeIt("#categories", {
      strings: ["Hi, I'm Randall Sáenz aka smosgasbord", "a creative web developer and new media artist crafting generative and interactive web experiences", "using 3D, WebGL, Machine Learning, and Extended Reality tools."],speed:20
    }).go();
  });
</script>
<script client:only>
/*init locomotive*/
(function () {
        const locomotiveScroll = new LocomotiveScroll();
    })();
  
</script>

