---
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

<!-- Primary Meta Tags -->
<title>Del Caos a la Claridad: Webinar de Automatización</title>
<meta name="title" content="Del Caos a la Claridad: Webinar de Automatización" />
<meta name="description" content="Un Webinar sobre Automatización y Transformación Digital Sostenible" />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content="https://smosgasbord.xyz/claridad/" />
<meta property="og:title" content="Del Caos a la Claridad: Webinar de Automatización" />
<meta property="og:description" content="Un Webinar sobre Automatización y Transformación Digital Sostenible" />
<meta property="og:image" content="https://metatags.io/images/meta-tags.png" />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="https://smosgasbord.xyz/claridad/" />
<meta property="twitter:title" content="Del Caos a la Claridad: Webinar de Automatización" />
<meta property="twitter:description" content="Un Webinar sobre Automatización y Transformación Digital Sostenible" />
<meta property="twitter:image" content="https://metatags.io/images/meta-tags.png" />

<!-- Meta Tags Generated with https://metatags.io -->

    <title>Del Caos a la Claridad: Webinar de Automatización</title>
    <script async src="https://tally.so/widgets/embed.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body class="bg-gray-50 min-h-screen">
    <slot />
  </body>
</html>

<style>
  html {
    scroll-behavior: smooth;
  }
</style>
<style type="text/tailwindcss">
      @theme {
         primary: '#3E6B61';
        secondary: '#7FD1C0';
        dark: '#2C4A42';
      }
    </style>
