---
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Del Caos a la Claridad: Webinar de Automatización</title>
    <script async src="https://tally.so/widgets/embed.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body class="bg-gray-50 min-h-screen">
    <slot />
  </body>
</html>

<style>
  html {
    scroll-behavior: smooth;
  }
</style>
<style type="text/tailwindcss">
      @theme {
         primary: '#3E6B61';
        secondary: '#7FD1C0';
        dark: '#2C4A42';
      }
    </style>